*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.top{
    width: 100%;
    height: 100px;
    background-color: #179FDB;
    display: flex;
    justify-content: space-between;
    
}

.lefttop a{
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-decoration: none;
    font-weight: bold;
    line-height: 100px;
    margin-left: 100px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.righttop ul{
    list-style: none;
    display: flex;
    margin-right: 50px;
}
.righttop li{
    line-height: 100px;
    padding-right: 50px;
    transition: all 0.3s ease; 
}
.righttop a{
    color: white;
    font-size: 30px;
    font-family: Verdana;
    padding: 4px 20px;
    text-decoration: none;
}
.righttop li:hover {
    transform: scale(1.1);   
}
.righttop a:hover{
    background-color: #66c7f1;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.design{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.F-Pattern,
.Z-Pattern{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.design img{
    width: 450px;
    height: auto;
}
.implement{
    padding-bottom: 20px;
    border-top: 1px solid black;
}
.F-Pattern div,
.Z-Pattern div{
    display: flex;
    justify-content: center;
}
.button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #66c7f1;
    margin: 10px;  
    transition: all 0.1s ease;
}
.button a{
    text-decoration: none;  
    color: white;
    padding: 5px 10px;
}
.button:hover,.button a:hover{
    background-color: #c8eefe;
    color: black;
    transform: scale(1.1);
}
    /* Ex1 */
.ex1-top{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.ex1-top h1{
    margin-left: 100px;
    color: white;
    font-family: verdana;
    line-height: 100px;
    letter-spacing: 3px ;
}
.ex1-top ul{
    list-style: none;
    display: flex;
    line-height: 100px;
    margin-right: 50px;
}
.ex1-top li{
    margin: 0px 30px;
    transition: all 0.3s ease;
}
.ex1-top li:hover{
    transform: scale(1.2);
}
.ex1-top li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
}
.ex1-top li a:hover{
    background-color: rgb(54, 60, 68);
    padding: 8px 20px;
    border-radius: 5px; 
}
.mid{

}
.introduce{
    text-align: center;
    line-height: 200px;
    font-family: verdana;
}
.content img{
    width: 300px;
    height: auto;
    margin-left: 30px;
}
.content{
    display: flex;
}
.content1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 50px;
}
.content2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    float: left;
    max-width: 600px;
}
.content2 ul{
    list-style: none;
    
}
.content2 h3{
    font-size: 30px;
    margin-bottom: 30px;
    
}
.content2 li{
    line-height: 30px;
    
}
.content3{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin-left: 180px;
    float: right;
}
.content3 h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}
.content3 ul{
    list-style: none;
    margin-left: 10px;
}
    /* Ex2 */
.ex2-introduce{
    display: flex;
    justify-content: space-evenly;  
}
.ex2-introduce h1{
    margin-top: 100px;
    margin-left: 300px;
    font-family: verdana;
    width: 400px;
    
}
.ex2-introduce{
    margin: 30px 0px;
}
.ex2-introduce img{
    width: 600px;
    height: auto;
    
    margin-right: 200px;
}
.ex2-content{
    display: flex;
    justify-content: space-around;
}
.col{
    width: 300px;
}
.col ul{
    list-style: none;
}
